body {
  background-color: rgb(253, 251, 251);
  font-family: arial, sans-serif;
  font-size: 17px;
  color: rgb(48, 48, 48);
  line-height: 21px;
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  width: 300px;
  margin-top: 60px;
}

.lado-esquerdo {
  display: inline-block;
  width: 50%;
}

.lado-direito {
  position: absolute;
  margin-left: 10px;
  width: 40%;
  display: inline-block;
}

table {
  border-collapse: collapse;
}

td {
  border: 2px solid rgb(221, 221, 221);
  padding: 8px;
}

th {
  border: 2px solid rgb(221, 221, 221);
  padding: 8px;
}

footer {
  margin-bottom: 40px;
}
