body {
  background-color: rgb(253, 251, 251);
  font-family: arial, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  width: 300px;
  margin-top: 60px;
}

table {  
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}