body {
  background-color: rgb(253, 251, 251);
  font-family: arial, sans-serif;
  font-size: 17px;
  color: rgb(48, 48, 48);
  word-spacing: 2px;
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  width: 300px;
  margin-top: 60px;
}

table {
  border-collapse: collapse;
}

td {
  border: 2px solid rgb(221, 221, 221);
  padding: 8px;
}

th {
  border: 2px solid rgb(221, 221, 221);
  padding: 8px;
}
